$font_primary: 'Roboto', sans-serif;

$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;

$primary: #5E311E;
$secondary: #C39C63;
$light-cafe: #EBE7DE;
$black: #000;
$white: #FFF;
$light-grey: #ECEEEF;

$separacion: 5rem;

