:root {
    --font-principal: 'Roboto', sans-serif;
    --font-secundaria: 'Lato', sans-serif;
    --primary: #1073BA;
    --secondary: #00DA55;
    --grey: #3B3B3B;
    --white: #FFF;
    --black: #1F1E1E;
    --light-grey: #E1E1E1;
    --separation: 5rem;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: var(--font-principal);
    font-size: 1.6rem;
    line-height: 1.5;
}

/** Globals styles **/
.container {
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}

h1, h2, h3 {
    font-weight: 900;
    font-family: var(--font-secundaria);
    margin: calc(var(--separation) / 2) 0;
}

h1 {
    font-size: 4.4rem;
}

h2 {
    font-size: 3.6rem;
}

h3 {
    font-size: 2.8rem;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/** Utilitiee **/
.text-center {
    text-align: center;
}

.header {
    background-color: var(--black);
    padding: calc(var(--separation) * 3) 0;
    color: var(--white);
}

.header-text {
    text-align: center;
    padding-top: var(--separation);
}

.header-text p {
    margin: 0;
}

.tagline-product {
    font-size: 3rem;
    font-weight: 900;
}

.product-name {
    font-size: 6rem;
    line-height: 1;
}

.product-price span {
    font-size: 6rem;
    font-weight: 900;
}

@media (min-width: 768px) {
    .header-container {
        display: grid;
        grid-template-columns:repeat(2, 1fr);
    }

    .header-text {
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0;
    }

    .product-name {
        font-size: 10rem;
    }
}

.green-gradient {
    color: transparent;
    background: linear-gradient(to right, var(--primary) 0%, var(--secondary) );
    background-clip: text;
    -webkit-background-clip: text;

}

.icons {
    padding: var(--separation) 0;
    text-align: center;
    margin-bottom: calc(var(--separation) / 2);
}

@media (min-width: 768px) {
    .icons {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 3rem;
    }

    .icon{
        margin: 0;
    }
}

.icon{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon:last-of-type{
    margin: 0;
}

.icon img {
    width: 50px;

}

.icon h3 {
    text-transform: uppercase;
    color: var(--primary);
    margin-top: calc(var(--separation) / 2);
}

.about-tech{
    background-image: linear-gradient(to bottom, transparent 50%, var(--primary) 0%), url(../img/imagen-mujer.jpg);
    background-position: right;
    background-repeat: repeat, no-repeat;
}

.about-tech-grid{
    display: grid;
    grid-template-rows: repeat(2, 40rem);
    row-gap: var(--separation);
}

@media (min-width: 768px) {
    .about-tech {
        background-image: linear-gradient(to left, transparent 50%, var(--primary) 0%), url(../img/imagen-mujer.jpg);
    }
    .about-tech-grid {
        grid-template-rows: unset;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 4rem;
        row-gap: unset;
        padding: calc(var(--separation) * 2);
    }
}

.text-about-tech{
    grid-row: 2/3;
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.text-about-tech p {
    font-size: 2rem;
    line-height: 2;
}

.text-about-tech h2{
    font-size: 4rem;
}

.model{
    padding: var(--separation) 0;
    padding-left: 4rem ;
    color: var(--primary);
    border-radius: 2rem;
    background-color: var(--light-grey);
    margin-bottom: 2rem;
    min-height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-position: 90% center;
    background-size: 15rem;
    transition: transform ease-in-out 0.3s;
}
.model:first-of-type {
    margin-bottom: 0;
}
.model h3{
    font-size: 2.4rem;
}

.model .precio {
    font-size: 4rem;
    font-weight: 900;
    line-height: 0;
}

.model:hover{
    transform: scale(1.1);
}

.header-models{
    font-size: 6rem;
    margin-bottom: var(--separation);
}
.models {
    margin-bottom: var(--separation);
}

.models-list {
    display: flex;
    flex-direction: column-reverse;
}

@media (min-width: 992px) {
    .model {
        margin-bottom: 0;
    }
    .models-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 20rem);
        gap: 4rem;
    }

    .model-z{
        grid-row: 1/3;
        grid-column: 2/3;
        background-size: 25rem;
    }

    .model-z h3 {
        font-size: 4rem;
    }
}

.model-z {
    background-color: var(--primary);
    color: var(--white);
    background-image: url(../img/modelo-z.svg);
    background-repeat: no-repeat;
}

.model-z .precio {
    font-size: 6rem;
}

.model-y{
    background-image: url(../img/modelo-y.svg);
    background-repeat: no-repeat;
}

.model-x {
    background-image: url(../img/modelo-x.svg);
    background-repeat: no-repeat;

}

.news-letter {
    background-image: linear-gradient(to bottom, transparent 50%, var(--white) 0%), url(../img/newsletter.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100%, 70rem;
}



.news-letter-content {
display: grid;
    grid-template-rows: repeat(2, 30rem);
    gap: var(--separation);
}

.news-letter-text {
    grid-row: 2/3;
}

@media(min-width: 768px){
    .news-letter{
        background-image: linear-gradient(to right, transparent 50%, var(--white) 0%), url(../img/newsletter.jpg);
        background-position: center, -9rem -10rem;
        background-size: 100%, 100rem;
        padding: 10rem 0;
    }
    .news-letter-content {
        grid-template-rows: unset;
        grid-template-columns: repeat(2,1fr);
    }

    .news-letter-text {
        grid-row: unset;
        grid-column: 2/3;
    }
}

@media(min-width: 1600px){
    .news-letter{
        background-size: 100%, 127rem;
    }
}

.form input[type="text"]{
    width: 100%;
    padding: 1rem;
}

.form input[type="submit"]{
    width: 100%;
    padding: 2rem 1rem;
    background-color: var(--primary);
    color: var(--white);
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 900;
    border: none;
}

.footer p {
    text-align: center;
    font-family: var(--secondary);
    text-transform: uppercase;
    font-size: 2.4rem;
    font-weight: 900;
    padding: 2rem 0;
    color: var(--primary);
}
