:root {
    --main-color: #037bc0;
    --main-grey: #e1e1e1;
    --main-green: #8cbc00;
    --secondary-green: #769c02;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; /*1REM = 10px*/
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
}

/* Globales */

h1, h2, h3 {
    font-family: 'Playfair Display', serif;
    margin: 0 0 5rem 0;
}

h1 {
    font-size: 4rem;
}

@media (min-width: 768px) {
    h1 {
        font-size: 5rem;
    }
}

h2 {
    font-size: 3.2rem;
}

@media (min-width: 768px) {
    h2 {
        font-size: 4rem;
    }
}

h3 {
    font-size: 2.4rem;
}

@media (min-width: 768px) {
    h3 {
        font-size: 3rem;
    }
}

a {
    text-decoration: none;
    color: #000;
}

.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}

img {
    max-width: 100%;
    display: block;
}

/* Utilidades */
.text-center {
    text-align: center;
}

.max-width-30 {
    max-width: 30rem;
}

.btn {
    color: white;
    background-color: var(--main-green);
    display: block;
    text-transform: uppercase;
    font-weight: 900;
    padding: 1rem 0.5rem;
    transition: background-color .3s ease-out;
    text-align: center;
}

.btn:hover {
    background-color: var(--secondary-green);
    cursor: pointer;
}

/* Header y navegación */
.nombre-sitio {
    text-align: center;
    margin-top: 5rem;
}

.nombre-sitio span {
    color: var(--main-color);
}

.contenedor-navegacion {
    border-top: solid 1px var(--main-grey);
}

.nav-principal {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 768px) {
    .nav-principal {
        justify-content: space-between;
        flex-direction: row;
    }
}

.hero {
    background-image: url(../img/principal.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 25rem;
}

@media (min-width: 768px) {
    .hero {
        height: 55rem;
    }
}
/* Categorias */
@media  (min-width:  768px){
    .listado-categorias {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }
}

.categorias {
    padding: 5rem 0;
}
.categoria{
    margin-bottom: 2rem;
}

@media  (min-width: 768px ){
    .categoria{
        margin-bottom: 0;
    }
}

.categoria img{
    width: 100%;
}

.categoria a {
    display: block;
    text-align: center;
    padding: 2rem;
    font-size: 2rem;
}

.categoria a:hover {
    background-color: var(--main-color);
    color: white;
    border-bottom-right-radius: 1rem;
}

/** Bloque Nosotros */

.sobre-nosotros {
    background-image: linear-gradient(to bottom, transparent 50%, var(--main-color) 50%, var(--main-color) 100%), url(../img/nosotros.jpg);
    background-repeat: no-repeat;
    background-size: 100%, 70rem;
    background-position: center, top left;

}

@media  (min-width:  768px){
    .sobre-nosotros {
        background-image: linear-gradient(to right, transparent 50%, var(--main-color) 50%, var(--main-color) 100%), url(../img/nosotros.jpg);
        padding: 10rem 0;
        background-size: 100%, 160rem;
        background-position: left center;
    }
}

.sobre-nosotros-grid {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}

@media  (min-width:  768px){
    .sobre-nosotros-grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: unset;
        column-gap: 8rem;
    }
}

.texto-nosotros {
    color: white;
    grid-row: 2 / 3;
    padding: 5rem;
}

@media  (min-width:  768px){
    .texto-nosotros {
        grid-column: 2 / 3;
    }
}

/* Nuestros productos*/

.contenido-principal {
    padding-top: 5rem;
}

.listado-productos {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 2rem;
}

.producto {
    background-color: var(--main-color);
}

.producto:nth-child(1) {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-column: 1 / 7;
}

.producto:nth-child(1) img {
    width: 100%;
    height: 43rem;
    object-fit: cover;
}

.producto:nth-child(2) {
    grid-column: 1 / 4;
}

.producto:nth-child(2) img {
    width: 100%;
    object-fit: cover;
    height: 30rem;
}

.producto:nth-child(3) {
    grid-column: 4 / 7;
}

.producto:nth-child(3) img {
    width: 100%;
    object-fit: cover;
    height: 30rem;
}

.producto:nth-child(4) {
    grid-column: 1 / 3;
}

.producto:nth-child(4) img {
    width: 100%;
    object-fit: cover;
    height: 30rem;
}

.producto:nth-child(5) {
    grid-column: 3 / 5;
}

.producto:nth-child(5) img {
    width: 100%;
    object-fit: cover;
    height: 30rem;
}

.producto:nth-child(6) {
    grid-column: 5 / 7;
}

.producto:nth-child(6) img {
    width: 100%;
    object-fit: cover;
    height: 30rem;
}

.texto-producto {
    color: white;
    text-align: center;
}

.texto-producto h3 {
    margin: 0
}

.texto-producto {
    margin: 0 0 0.5rem 0;
    padding: 2rem;
}

.precio {
    font-size: 2.8rem;
    font-weight: 900;
}

.site-footer {
    margin-top: 5rem;
    padding-top: 5rem;
    border-top: 1px solid var(--main-grey);
}

.grid-footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
}

.footer-menu {
    display: flex;
    flex-direction: column;
}

.copyright {
    text-align: center;
}

/* Nosotros  */

.contenido-nosotros {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    column-gap: 4rem;
}

.informacion-nosotros {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Blog  */

.contenedor-blog {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 4rem;
}

.entrada {
    border-bottom: 2px solid var(--main-grey);
    padding-bottom: 4rem;
    margin-bottom: 2rem;
}

.entrada:last-of-type {
    border-bottom: none;
}

.entrada-meta {
    display: flex;
    justify-content: space-between;
}

.entrada-meta p {
    font-weight: 700;
}

.entrada-meta span {
    color: var(--main-color);
}

/* Entrada */

.contenido-entrada-blog {
    width: 60rem;
    margin: 0 auto;
}

/* Galeria */

.galeria {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.galeria img {
    height: 40rem;
    width: 40rem;
    object-fit: cover;
}

/* Contacto */
.fomulario {
    max-width: 60rem;
    margin: 0 auto;
}

.formulario fieldset {
    border: 1px solid black;
    margin-bottom: 2rem;
}

.formulario legend {
    background-color: var(--main-color);
    width: 100%;
    text-align: center;
    color: #FFF;
    text-transform: uppercase;
    font-weight: bold;
    padding: 1rem;
    margin-bottom: 4rem;
}

.campo {
    display: flex;
    margin-bottom: 2rem;
}

.campo label {
    flex-basis: 10rem;
}

.campo textarea, .campo input:not([type="radio"]), .campo select {
    flex: 1;
    border: 1px solid var(--main-grey);
    padding: 1rem;
}